<!-- IF S_AUTH_CAS -->
<!-- INCLUDEJS @getekid_cas/switchAuth.js -->
<!-- IF not S_USER_LOGGED_IN and not S_IS_BOT -->
	<form method="post" action="{S_LOGIN_ACTION}" class="headerspace" id="login_cas">
		<h3>{L_CAS_LOGIN}</h3>
		<fieldset>
			<input type="submit" name="login" value="{L_CAS_LOGIN}" class="button2" />
			{S_LOGIN_REDIRECT}
			<!-- IF S_AUTH_CAS_DB -->
			<span class="responsive-hide">|</span> <input id="switchAuth" type="button" name="switch_auth" value="{L_CAS_DB_LOGIN}" class="button2" />
			<!-- ENDIF -->
		</fieldset>
	</form>
<!-- ENDIF -->
<div id="login_db" style="display:none">
<!-- ENDIF -->
